.nutrientBar {
  display: flex;
  flex-direction: column;

  .name {
    text-transform: capitalize;
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
  }

  .bar {
    width: 100%;
    height: 1.8rem;
    border: 0.05rem solid #eee8;
    position: relative;

    display: flex;
    align-items: flex-end;

    .fat,
    .protein,
    .sugar,
    .starch,
    .fiber {
      height: 100%;
    }

    .fat {
      background-color: brown;
    }
    .protein {
      background-color: purple;
    }
    .starch {
      background-color: yellow;
    }
    .sugar {
      background-color: red;
    }
    .fiber {
      background-color: green;
    }

    .rdi {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #2228;

      display: flex;

      .range {
        position: relative;
        height: 60%;
        top: 50%;
        transform: translateY(-50%);
        $rangeColor: #eee;
        $thickness: 0.05rem;

        div {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          background-color: $rangeColor;
          height: $thickness;
        }

        &::before,
        &::after {
          position: absolute;
          content: '';
          height: 100%;
          width: $thickness;
          background-color: $rangeColor;
        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }

        &--noMin {
          &::before {
            height: 0;
          }
        }

        &--noMax {
          &::after {
            width: 0;
          }
          div {
            background-color: unset;
            background-image: linear-gradient(
              to right,
              $rangeColor,
              transparent
            );
          }
        }
      }
    }
  }
}
