.results {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 0.1rem;
  padding-right: 0.5rem;

  .numResults {
    align-self: end;
  }

  .name {
    margin-top: 0.2rem;
    cursor: pointer;

    span {
      margin-left: 0.4rem;
    }
  }
}
