.search {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  .checkBox {
    display: flex;
    justify-content: space-between;
  }

  select {
    padding: 0.2rem 0.1rem;
    &:focus {
      outline: none;
    }
  }

  .input {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 0.2rem;
    overflow: hidden;

    input {
      flex: 1;
      border: none;
      padding: 0.2rem 0.4rem;
      font-size: 1rem;

      &:focus {
        outline: none;
      }
    }

    .clear {
      background-color: gray;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      margin: 0.2rem 0.4rem;
      position: relative;
      opacity: 0;

      transition: all 0.2s;

      &::before,
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 50%;
        height: 0.07rem;
        background-color: white;
      }
      &::before {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
      }
      &::after {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      }

      &--visible {
        opacity: 100;
      }
    }
  }
}
