$bacco: #161616;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: $bacco;
}

body {
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;

  height: 100vh;
  height: 100svh;
  display: flex;
  justify-content: center;
}

#root,
header,
main,
footer {
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 35rem;
  padding: 1.5rem 1rem 1rem 1rem;
  gap: 1rem;
}

header {
  gap: 1rem;
}

main {
  flex: 1;
  padding-top: 1rem;
  border-top: 1px solid #9995;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 5px;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: #9999;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }
}

footer {
  
}

h1 {
  align-self: center;
  font-weight: normal;
  letter-spacing: 0.03rem;
  font-size: 1.1rem;
  position: relative;
  padding-bottom: 0.1rem;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 110%;
    transform: translateX(-5%);
    height: 0.1rem;
    background-color: #eeea;
  }
}

h2 {
  font-weight: normal;
  font-size: 1.1rem;
}

h3 {
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 0.6rem;
  position: relative;
}

.scientific {
  font-size: 0.9rem;
  color: #aaa;
}
